* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.784);
}

#container {
    width: 960px;
    margin: 0 auto;
    border: 1px solid #000000;
}

#header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #984447;
}

#header img {
    width:250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid #fff;
}

#header img:hover{
    transition: 0.70s;
    transform: rotate(360deg);
}

#header h1 {
    padding-top: 30px;
    color: #fff;
}

#content {
    background-color: #ADD9F4;
    color: #000;
    padding: 50px;
}

#content h2 {
    text-align: center;
}

#content #intro {
padding-top: 20px;
}
#content #overig {
padding-top: 20px;
}
#content #kennis {
padding-top: 20px;
}
#content #kennis ul {
    padding-left: 15px;
}

#experimental {
    background-color: #476C9B;
    height: 500px;
    padding: 50px;
}
#experimental h2 {
    text-align: center;
}

#test1 {
    width: 10px;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: relative;
    animation-name: testanimation1, rotation;
    animation-duration: 4s, 0.01s;
    animation-iteration-count: infinite;

}

.sphere1 {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    left: 100px;
    background-color: hotpink;
    position: relative;
}

@keyframes testanimation1 {
  0%   {left:0px; top:0px;}
  20%  {left:-20px; top:300px;}
  40%  {left:500px; top:500px;}
  60%  {left:1000px; top:100px;}
  80%  {left:600px; top:0px;}
  100% {left:0px; top:0px;}
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#test2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-image: linear-gradient(red, hotpink, yellow);
    position: relative;
    animation-name: testanimation2, growth;
    animation-duration: 4s, 4s;
    animation-direction: normal;
    animation-iteration-count: infinite;

}

@keyframes testanimation2 {
    0%   {left:10px; top:-50px;}
    20%  {left:300px; top:-80px;}
    40%  {left:150px; top:300px;}
    60% {left:50px; top:100px;}
    80% {left:400px; top:0px;}
    100% {left:10px; top:-50px;}
  }

  @keyframes growth {
    0% {transform: scale(1)}
    50% {transform: scale(5)}
    100% {transform: scale(1)}
  }

  #test3 {
    position:relative;
    top: -80px;
    height:281px;
    width:450px;
    margin:0 auto;

}

#test3 img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  #test3 img.transparent {
    opacity:0;
    }

    @keyframes fade {
        0% {
        opacity:1;
      }
      45% {
      opacity:1;
      }
      55% {
      opacity:0;
      }
      100% {
      opacity:0;
      }
      }
      
      #test3 img.top {
      animation-name: fade;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 10s;
      animation-direction: alternate;
      }

#test4 {
    background-image: url("https://www.creativefabrica.com/wp-content/uploads/2020/11/01/Wrinkled-Paper-Texture-Graphics-6403262-1.png");
    max-height: 300px;
    width: 100px;
    background-repeat: repeat-x;
    font-family:"Vladimir script", "Euphemia", "Comic sans";
    color: #000000;
    font-size: 15px;
    
}


#footer {
    background-color: #101419;
    height: 100px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
#footer ul {
    display: block;
    padding-top: 10px;
}
#footer img {
    width:30px;
    height:30px;
}
#footer ul li {
    display: inline-block;
}

#footer ul li a {
    padding: 10px;
}